---
import { Icon } from 'astro-icon/components'

type Props = {
  label?: string
  icon?: string
  disabled?: boolean
  padding?: string
  color?: string
  btnStyle?: string
  width?: string
  textStyle?: string
}

const {
  label,
  icon,
  disabled,
  padding = 'p-2',
  btnStyle = 'btn-fill',
  width = 'w-full',
  textStyle = 'uppercase font-semibold text-sm',
} = Astro.props

const className = [
  width,
  padding,
  btnStyle,
  textStyle,
  'rounded-full flex gap-3 items-center justify-center',
  disabled ? 'cursor-not-allowed' : 'cursor-pointer',
]
---

<button class:list={className}>
  {icon && <Icon name={icon} />}
  {label && <p>{label}</p>}
</button>
