---
import { Icon } from 'astro-icon/components'

interface Platform {
  label: string
  icon: string
  url: string
}

const platforms: Platform[] = [
  {
    label: 'LinkedIn',
    icon: 'linkedin',
    url: 'https://www.linkedin.com/in/ferriadi/',
  },
  {
    label: 'Instagram',
    icon: 'instagram',
    url: 'https://www.instagram.com/ferriadi/',
  },
  {
    label: 'Github',
    icon: 'github',
    url: 'https://github.com/ferriadi',
  },
]
---

<div class="flex items-center gap-6 sm:gap-8">
  {
    platforms.map((platform) => (
      <a href={platform.url} title={platform.label} target="_blank">
        <div class="text-base sm:text-3xl border-0.5 border-brand-gray p-1.5 rounded-full hover:border-brand text-brand-gray hover:text-brand">
          <Icon name={platform.icon} class="cursor-pointer" />
          <span class="sr-only">{platform.icon}</span>
        </div>
      </a>
    ))
  }
</div>
