---
import '@/assets/styles/global.css'
import Navigation from '@/components/Navigation.astro'

interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <!-- SEO -->
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="robots" content="index, follow" />
    <meta
      name="description"
      content="Hello, I'm Ferri Adi Prasetya! I'm a Software Engineer showcasing my skills and projects on this portfolio website. Explore my expertise in Software Engineering especially in Frontend Development. Let’s work together!"
    />

    <meta property="og:title" content={title} />
    <meta
      property="og:description"
      content="Hello, I'm Ferri Adi Prasetya! I'm a Software Engineer showcasing my skills and projects on this portfolio website. Explore my expertise in Software Engineering especially in Frontend Development. Let’s work together!"
    />
    <meta
      property="og:image"
      content="https://ferriadi.my.id/preview.png"
    />

    <title>{title}</title>
  </head>
  <body>
    <div class="layout w-dvw h-dvh px-4 sm:px-8 md:px-10 xl:px-24 relative">
      <Navigation />
      <slot />
    </div>
  </body>
</html>
